body {
    background-image: url(images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

fieldset {
    border: none;
}

legend {
    margin: auto auto auto 28em;
}

form {
    display: inline;
}


.ui-button:hover {
  background: #f58400 !important;
}

.ui-button:focus {
  border: 1px solid #ffaf0f !important;
  background-image: linear-gradient(to bottom, #626262 50%, #555555 50%, #696969);
  border: #f58400;
  font-weight: bold;
}

#wrapper {
    font-family: Verdana;
    font-weight: bolder;
    width: 21.875em;
    margin: 3.125em auto auto 0em;
    color: #fff;
    display: inline;
  }