@font-face {
  font-family: Big Noodle Too;
  src: url(/fonts/BigNoodleToo.ttf?c2db5bfcd259675d99c0835e80c1b12f);
}

@font-face {
  font-family: Big Noodle Too;
  src: url(/fonts/BigNoodleTooOblique.ttf?1cab1bb7be8135c2d21229d9657db94a);
  font-style: oblique;
}

@font-face {
  font-family: Koverwatch;
  src: url(/fonts/koverwatch.ttf?b4ba45a9ac09d854f118663f298f9c23);
}

@font-face {
  font-family: Futura;
  src: url(/fonts/Futura.ttf?7cb81d200ce2beb9e5d4e24e9f03c6de);
}

a:hover {
  text-decoration: none;
}

.alert {
  border-radius: 3px;
  opacity: 0.75;
}

body {
  height: 100%;
  background-color: #373A3C;
}

.btn {
  border-radius: 0;
}

button {
  font-family: Futura, century gothic, arial, sans-serif;
  opacity: 0.9;
  text-transform: uppercase;
}

.buttonhref {
  font-family: Futura, century gothic, arial, sans-serif;
  opacity: 0.9;
  text-transform: uppercase;
}

h1 {
  font-style: oblique;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Big Noodle Too, impact, sans-serif;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-style: oblique;
}

li {
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

progress {
  opacity: 100%;
}

thead {
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0px auto;
}

body,
html {
  height: 100%;
}

.text-center {
  text-align: center;
}

@media (min-width: 360px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }

  .fixed-top-add-game {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1030;
    max-height: 5%;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 1200px !important;
  }

  .fixed-top-add-game {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    max-height: 5%;
  }
}

.text-ow-white {
  color: white;
}

.img-thumbnailtable {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  /* max-width: 70%;*/
  height: auto;
}

.img-thumbnailtable2 {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  /*max-width: 55%;*/
  height: auto;
}

.matchselector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.bla-hm {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) opacity(0.6);
  -moz-filter: brightness(1.8) opacity(0.6);
  filter: brightness(1.8) opacity(0.6);
}

.bla-hm:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.bla-map {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 80px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) opacity(0.6);
  -moz-filter: brightness(1.8) opacity(0.6);
  filter: brightness(1.8) opacity(0.6);
}

.bla-map:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

/* Extras */

a {
  color: #444;
  text-decoration: none;
}

p {
  margin-bottom: .3em;
}

.matchselector input:active + .bla-hm {
  opacity: .9;
}

.matchselector input:checked + .bla-hm {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.matchselector input:active + .bla-map {
  opacity: .9;
}

.matchselector input:checked + .bla-map {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.tablefontsize {
  font-size: 20px;
}

.avatar {
  max-height: 55px;
  max-width: 55px;
  margin-right: 15px;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item-action {
  width: 100%;
  color: #cfd2da;
  text-align: inherit;
}

.list-group-item-action .list-group-item-heading {
  color: #cfd2da;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: #cfd2da;
  text-decoration: none;
  background-color: #434857;
}

.list-group-item-action:active {
  color: #000;
  background-color: #f5f5f5;
}

.list-group-item {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: transparent;
  border: 1px solid #434857;
}

.list-group-item:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.list-group-item:focus,
.list-group-item:hover {
  text-decoration: none;
}

.list-group-item.disabled,
.list-group-item:disabled {
  color: #51586a;
  cursor: not-allowed;
  background-color: transparent;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item:disabled .list-group-item-heading {
  color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item:disabled .list-group-item-text {
  color: inherit;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #51586a;
  border-color: #51586a;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small {
  color: inherit;
}

.list-group-item.active .list-group-item-text {
  color: #bcc0cb;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item-success {
  color: #1BC98E;
  background-color: #dff0d8;
}

a.list-group-item-success,
button.list-group-item-success {
  color: #1BC98E;
}

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
  color: inherit;
}

a.list-group-item-success:focus,
a.list-group-item-success:hover,
button.list-group-item-success:focus,
button.list-group-item-success:hover {
  color: #1BC98E;
  background-color: #d0e9c6;
}

a.list-group-item-success.active,
button.list-group-item-success.active {
  color: #fff;
  background-color: #1BC98E;
  border-color: #1BC98E;
}

.list-group-item-info {
  color: #9F86FF;
  background-color: #d9edf7;
}

a.list-group-item-info,
button.list-group-item-info {
  color: #9F86FF;
}

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
  color: inherit;
}

a.list-group-item-info:focus,
a.list-group-item-info:hover,
button.list-group-item-info:focus,
button.list-group-item-info:hover {
  color: #9F86FF;
  background-color: #c4e3f3;
}

a.list-group-item-info.active,
button.list-group-item-info.active {
  color: #fff;
  background-color: #9F86FF;
  border-color: #9F86FF;
}

.list-group-item-warning {
  color: #E4D836;
  background-color: #fcf8e3;
}

a.list-group-item-warning,
button.list-group-item-warning {
  color: #E4D836;
}

a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
  color: inherit;
}

a.list-group-item-warning:focus,
a.list-group-item-warning:hover,
button.list-group-item-warning:focus,
button.list-group-item-warning:hover {
  color: #E4D836;
  background-color: #faf2cc;
}

a.list-group-item-warning.active,
button.list-group-item-warning.active {
  color: #fff;
  background-color: #E4D836;
  border-color: #E4D836;
}

.list-group-item-danger {
  color: #E64759;
  background-color: #f2dede;
}

a.list-group-item-danger,
button.list-group-item-danger {
  color: #E64759;
}

a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}

a.list-group-item-danger:focus,
a.list-group-item-danger:hover,
button.list-group-item-danger:focus,
button.list-group-item-danger:hover {
  color: #E64759;
  background-color: #ebcccc;
}

a.list-group-item-danger.active,
button.list-group-item-danger.active {
  color: #fff;
  background-color: #E64759;
  border-color: #E64759;
}

.list-group-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  background-color: #b072f1;
}

.img-thumbnailtable3 {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 18%;
  height: auto;
}

.btn-playtimeqp {
  color: #fff;
  background-color: #8e16a6;
  border-color: #8e16a6;
}

.btn-playtimecomp {
  color: #fff;
  background-color: #b072f1;
  border-color: #b072f1;
}

.paddingremove {
  padding: 0;
}

.minusmargintop {
  margin-top: -15px;
}

.endorsement {
  width: 45px;
  height: auto;
  vertical-align: middle;
}

.bgo::before {
  background-color: #000010;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}

.bgo {
  /* The image used */
  background-image: url(/images/pattern.jpg?366b73f57d5dfc7eaa55cc8e32c4e3f6);
  background-repeat: repeat;
  background-size: 8px;
  background-attachment: fixed;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  z-index: 0;
}

.bgo::after {
  content: "";
  background-image: url(/images/owbgsymbolsvg.svg?e7c7fe7b5555466a5b4f286923106c13);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
}

.modal-open {
  padding-right: 0 !important;
  overflow-y: auto;
}

